* {
  font-family: 'Roboto', sans-serif !important;
}

:root {
  --background-modal-primary-color: rgb(31,130,209);
  --background-modal-secondary-color: rgb(69,176,193)
  --background-gradient-modal: linear-gradient(180deg, rgba(31,130,209,1) 7%, rgba(65,171,195,1) 78%);
  --modal-circles: rgb(233,233,11)
}


.landingPageModal {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  background: var(--background-modal-primary-color);
  background: linear-gradient(180deg, rgba(31,130,209,1) 7%, rgba(65,171,195,1) 78%);
  color: white;
}

.landingPageModal > header > hr {
  width: 90vw;
  height: 2px;
  border: none;
  background-color: white;
}

.landingPageModal > header{
  display: flex;
  flex-flow: column;
}

.landingPageModal > header > h1 {
  font-size: 2rem;
  margin: 1rem 1rem 0rem 1rem;
  text-align: center;
}

.landingPageModal > header > h3 {
  margin: 1rem 1rem 2rem 1rem;
}

.landingPageModal > footer {
  display: flex;
  justify-content: center;
}
.landingPageModal > footer > button {
  width: 100vw;
  height: 3.5rem;
  font-size: 1.5rem;
  background-color: var(--background-modal-color);
  color: white;
  border: none;
  border-top: .2rem solid white;
}


.landingPageModal > section {
  position: absolute;
  top: calc(50% - 31vh);
}


.circleContainer {
  padding-top: 1.5rem;
  display: flex;
  justify-content: center;
}

.circleContainer > span {
  background-color: #c4c4c4;
  border-radius: 100%;
  height: 10px;
  width: 10px;
  margin-left: .3rem;
}